.col4{
position: static;

}
.col1, .col2{
  width: 46%;
  float: left;
  padding: 5px;
  margin: 5px;
  background-color: aliceblue;
  border: solid white;
}
ul{
  margin: 39px 0px 0px 0px;
  font-size: 20px;
  line-height: 35px;
  list-style-type: circle;
}
h1{
  margin: 15px;
 padding-top: 15px;
 padding-bottom: 10px;
}
h2{
  text-align: center;
}
.col6, .col7{
  background-color: aliceblue;
  border: solid white;
}
@media screen and (min-width: 780px) {
.col6, .col7{
  width: 47%;
  float: right;
  padding: 5px;
  margin: 5px;
}
.col3, .col4, .col5 {
  float: left;
  width: 30%;
  margin: 10px;
  background-color: aliceblue;
  border: solid white;
}
.row1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 80px 0px 80px;
  width: 80%;
  border: solid lightpink;
  border-width: thick;
}
}
